<!DOCTYPE html>
<html>
	<head>
		<title>Test HTML Parser</title>
		<style type="text/css">
			h1 {
				font-size: 2em;
			}
		</style>
	</head>
	<body>
		<!-- this is a comment -->
		<!--[if IE 8]><span>IE8</span><![endif]-->
		<!--[if gt IE 8]><!--><span>Greater than IE8</span><!--<![endif]-->
		<form action="something/" method="get" class="form form--state">
			<h1 class="test__heading">Test</h1>
			<p style=" font-weight: bold; color : blue; " class="paragraph">Lorem ipsum blah blah blah</p>
			<a href="/minify/test/"><img src="test.png" alt="" class="image" /></a>
			<a href="http://test.com/"><img src="test.png" class="image" alt="" /></a>
			<div>
				<h2>Heading</h2>
				<p>Paragraph</p>
			</div>
			<select name="select">
				<option value="test">test<!-- not closed -->
				<option value="test2">This is also a test
			</select>
			<input type="text" class=" " value="" />
			<p>Text with a <strong>lot of bold</strong> and <em>italics</em> in it</p>
		</form>
		<script type="text/javascript" nomodule="nomodule">
			alert("hi");
		</script>
	</body>
</html>
