<!DOCTYPE html>
<html>
	<head>
		<title>Find</title>
	</head>
	<body>
		<section class="positions">
			<div id="first" class="first">First</div>
			<div class="find">
				<h1 class="find__heading">Heading</h1>
				<p class="find__paragraph" title="This is a paragraph">Paragraph</p>
				<a class="find__anchor" href="https://github.com/hexydec/htmldoc/">Anchor</a>
			</div>
			<div class="last">Last</div>
		</section>
		<section class="attributes">
			<div data-attr>attr</div>
			<div data-attr="">attr</div>
			<div data-attr="attr">attr</div>
			<div data-attr="attr-value1">attr</div>
			<div data-attr="attr-value2">attr</div>
			<div data-word="one two three four">attr</div>
		</section>
	</body>
</html>
